<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p style="color: #fff;">We're hosting a movie night in our Ven 2 cinema on Wednesday 24th of July at 6pm!</p>
                <p style="color: #fff;">We'll also be providing pizza, snacks, and drinks to make it a special evening.</p>
                <p style="color: #fff;">There are only 36 seats available so if you'd like to come along, please leave your name, job title, and team name below.</p>
                <p style="color: #fff;">This event is first come, first serve so if you're interested, sign up now! Our marketing team will be in touch to confirm your place.</p><br><br>
                <form method="POST" action="https://formspree.io/randal.whitmore@ventrica.co.uk" style="text-align: left;">
                    <p style="color: #fff;">Full Name:</p>
                    <input style="color: #000;" type="text" name="fullname"><br><br>
                    <p style="color: #fff;">Job Title:</p>
                    <input style="color: #000;" type="text" name="jobtitle"><br><br>
                    <p style="color: #fff;">Team Name:</p>
                    <input style="color: #000;" type="text" name="jobtitle"><br><br>
                    <p style="color: #fff;">Which film would you like to watch?</p>
                    <input type="radio" name="film" value="bohemianrhapsody" checked> Bohemian Rhapsody<br>
                    <input type="radio" name="film" value="reservoirdogs"> Reservoir Dogs<br>
                    <input type="radio" name="film" value="insideout"> Inside Out<br>
                    <input type="radio" name="film" value="superbad"> Superbad<br>
                    <input type="radio" name="other" value="other"> Other<br><br>
                    <p style="color: #fff;">If other, leave a suggestion:</p>
                    <input style="color: #000;" type="text" name="otherfilmsuggestion">
                    <br><br>
                    <button type="submit" style="background-color: none; color: #000; text-decoration: none;">Reserve your seat</button>
                </form>
            </div>
        </div>
    </div>
</section>
