<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>We're hosting a movie night in our Ven 2 cinema on Wednesday 24th of July at 6pm!</p>
                <p>We'll also be providing pizza, snacks, and drinks to make it a special evening.</p>
                <p>There are only 36 seats available so if you'd like to come along, please leave your name, job title, and team name below.</p>
                <p>This event is first come, first serve so if you're interested, sign up now! Our marketing team will be in touch to confirm your place.</p><br><br>
                <form method="POST" action="https://formspree.io/randal.whitmore@ventrica.co.uk" style="text-align: left;">
                    <p>Full Name:</p>
                    <input type="text" name="fullname"><br><br>
                    <p>Job Title:</p>
                    <input type="text" name="jobtitle"><br><br>
                    <p>Team Name:</p>
                    <input type="text" name="jobtitle"><br><br>
                    <p>Which film would you like to watch?</p><br><br>
                    <input type="radio" name="film" value="bohemianrhapsody" checked> Bohemian Rhapsody<br>
                    <input type="radio" name="film" value="reservoirdogs"> Reservoir Dogs<br>
                    <input type="radio" name="film" value="insideout"> Inside Out<br>
                    <input type="radio" name="film" value="superbad"> Superbad<br>
                    <input type="radio" name="other" value="other"> Other<br><br>
                    <p>If other, leave a suggestion:</p>
                    <input type="text" name="otherfilmsuggestion">
                    <button type="submit">Reserve your seat</button>
                </form>
            </div>
        </div>
    </div>
</section>
