<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">We're hosting a movie night in our Ven 2 cinema on Wednesday 24th of July at 6pm!</p>
                <p class="text-faded">We'll also be providing pizza, snacks, and drinks to make it a special evening.</p>
                <p class="text-faded">There are only 36 seats available so if you'd like to come along, please leave your name, job title, and team name below.</p>
                <p class="text-faded">This event is first come, first serve so if you're interested, sign up now! Our marketing team will be in touch to confirm your place.</p>
            </div>
        </div>
    </div>
</section>
